services:
  db:
    image: postgres:15
    container_name: crypto_postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: crypto_db
    ports:
      - "5432:5432"
    volumes:
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
    
  ingestion:
    build: ./data_ingestion 
    container_name: crypto_ingestion
    depends_on:
      - db
    environment:
      - PYTHONUNBUFFERED=1
      - DB_HOST=db
  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    ports:
      - "3000:3000"
    restart: always