services:
  db:
    image: postgres:15
    container_name: crypto_postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
    
  ingestion:
    build: ./data_ingestion 
    container_name: crypto_ingestion
    depends_on:
      db:
        condition: service_healthy 
    env_file: 
      - .env
    environment:
      - PYTHONUNBUFFERED=1
      - DB_HOST=db
    volumes:
      - ./data_ingestion:/app
  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    ports:
      - "3000:3000"
    volumes:
      - ./metabase_data:/metabase.db
    environment:
      - MB_DB_TYPE=h2
      - MB_DB_FILE=/metabase.db
    restart: always

  airflow-webserver:
    image: apache/airflow:2.7.1
    command: webserver
    ports:
      - "8080:8080"
    volumes:
      - ./dags:/opt/airflow/dags
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://user:password@db:5432/crypto_db
    depends_on:
      - db
  airflow-scheduler:
    image: apache/airflow:2.7.1
    command: scheduler
    volumes:
      - ./dags:/opt/airflow/dags
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://user:password@db:5432/crypto_db
    depends_on:
      - db